Quick_and_Dirty_Extended_Unified_Democracy_Scores_cache/
Quick_and_Dirty_Extended_Unified_Democracy_Scores_files/bootstrap-3.3.5/css/bootstrap-theme.css
Quick_and_Dirty_Extended_Unified_Democracy_Scores_files/bootstrap-3.3.5/
Quick_and_Dirty_Extended_Unified_Democracy_Scores_files/highlight/
Quick_and_Dirty_Extended_Unified_Democracy_Scores_files/jquery-1.11.3/
Quick_and_Dirty_Extended_Unified_Democracy_Scores_files/navigation-1.0/codefolding.js
Quick_and_Dirty_Extended_Unified_Democracy_Scores_files/navigation-1.0/tabsets.js
.Rproj.user
